<div class="container-fluid container-sm form">
	<input class="form-control form-control-lg" type="text" placeholder="Your name...">
	<input class="form-control form-control-lg" type="text" placeholder="Your lastname...">
	<input class="form-control form-control-lg" type="text" placeholder="Current city...">
	<input class="form-control form-control-lg" type="text" placeholder="Your phone...">
	<input class="form-control form-control-lg" type="text" placeholder="Longitude...">
	<input class="form-control form-control-lg" type="text" placeholder="Latitude...">
	<button type="button" class="btn-lg btn-save">Save data</button>
</div>